/* PuzzlesComponent's private CSS styles */
input {
  margin-left: 1em;
}

.puzzles {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /*width: 50em;*/
}

/*
.puzzles li {
  display: flex;
}
*/

form.button {
  margin-left: 1em;
}

.puzzles button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.puzzles button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.puzzles button:active {
  background-color: #525252;
  color: #fafafa;
}

.puzzles button.selected {
  background-color: black;
  color: white;
}

.puzzles button.selected:hover {
  background-color: #505050;
  color: white;
}

.puzzles button.selected:active {
  background-color: black;
  color: white;
}

.puzzles .badge {
  display: inline-block;
  font-size: small;
  width: 10em;
  color: white;
  padding: 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.puzzles .title {
  align-self: center;
  font-weight: bold;
}