.details {
    position: relative;
}

app-preview {
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

button {
    padding: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    width: 10rem;
}

.delete {
    color: white;
    background-color: #f44336;
    margin-top: 1rem;
}

.titleButton {
    width: auto;
    margin-right: 1rem;
    margin-left: 1rem;
}

#editor {
    position: fixed;
    bottom: 25%;
    left: 30%;
    transform: translate(-50%, 0);
    width: 50%;
    height: 50%;
    background-color: white;
    border: 3px solid #73AD21;
    z-index: 2;
}

#editor button {
    position: absolute;
    bottom: 0%;
}

#editor .rightbutton {
    right: 0%;
}

#editor .leftbutton {
    left: 0%;
}

.pieces {
    margin-top: 1rem;
}

#linkCopy {
    width: 5rem;
    margin-left: 1rem;
}