<div class="details" *ngIf="puzzle">
    <h2>{{puzzle.title | uppercase}} Details</h2>
    <!--
    <div><span>created: </span>{{puzzle.created.toISOString().slice(0,-5).replace("T", ", ")}} (UTC)</div>
    -->
    <div><span>created: </span>{{puzzle.created.slice(0,-5).replace("T", ", ")}} (UTC)</div>
    <div>
        <label for="title">Puzzle title: </label>
        <input id="title" [(ngModel)]="tempTitle" placeholder="name">
<!--
        <input id="title" [(ngModel)]="puzzle.title" placeholder="name">
-->
        <span *ngIf="tempTitle != puzzle.title">
            <button class="titleButton" (click)="restoreTitle()">Cancel</button>
            <button class="titleButton" (click)="saveTitle()">Save</button>
        </span>
    </div>
    <button *ngIf="!selectedPiece" class="delete" (click)="delete()">Delete puzzle</button>
    <div class="pieces">
        <div *ngFor="let piece of puzzle.data">
            <button [class.selected]="piece === selectedPiece" type="button" (click)="onSelect(piece)" (mouseenter)="onMouseenter(piece)" (mouseleave)="onMouseleave()">
                {{piece.angles[0]+piece.angles[1]+piece.angles[2]}}
            </button>
        </div>
    </div>
    <app-preview [hovering]="hovering" [puzzle]="puzzle"></app-preview>
    <div *ngIf="selectedPiece" id="editor">
        <h3>Edit selected piece</h3>
        <div *ngFor="let i of [1, 2, 3]">
            <label for="letter{{i}}">Letter {{i}}: </label>
            <select id="letter{{i}}" name="letter{{i}}" (change)="updateLetter(i)">
                <option *ngFor="let letter of letters" [value]="letter" [attr.selected]="letter == selectedPiece.angles[i-1] ? 'selected' : null">{{letter}}</option>
            </select>
        </div>
        <div *ngFor="let i of [1, 2, 3]">
            <label for="text{{i}}">Text {{i}}: </label>
            <input id="text{{i}}" [(ngModel)]="selectedPiece.terms[i-1]" placeholder="text">
        </div>
        <button class="leftbutton" (click)="abortChanges()">
            Cancel
        </button>
        <button class="rightbutton" (click)="saveChanges()">
            Close and save
        </button>
    </div>

</div>