<div class="details" *ngIf="puzzle">
    <h2>{{puzzle.title | uppercase}} Details</h2>
    <div><span>created: </span>{{puzzle.created.toISOString().slice(0,-5).replace("T", ", ")}} (UTC)</div>
    <div>
        <label for="title">Puzzle title: </label>
        <input id="title" [(ngModel)]="puzzle.title" placeholder="name">
    </div>
    <div class="pieces">
        <div *ngFor="let piece of puzzle.data">
            <button [class.selected]="piece === selectedPiece" type="button" (click)="onSelect(piece)" (mouseenter)="onMouseenter(piece)" (mouseleave)="onMouseleave()">
                {{piece.angles[0]+piece.angles[1]+piece.angles[2]}}
            </button>
        </div>
    </div>
    <app-preview [hovering]="hovering" [puzzle]="puzzle"></app-preview>
    <div *ngIf="selectedPiece" id="editor">
        Piece {{puzzle.data.indexOf(selectedPiece)}} has been selected!
    </div>

</div>