<h1>{{title}}</h1>
<app-registration *ngIf="newUser" [userInput]="userInput" [passcode]="passcode" [newUser]="newUser"  (msgChange)="errorMsg=$event" (exitNewUserDialog)="newUser=$event"></app-registration>
<table *ngIf="!user && !newUser">
        <tr>
            <td><label>Username:</label></td>
            <td><input [(ngModel)]="userInput" name="userInput"></td>
        </tr>
        <tr>
            <td><label>Passcode:</label></td>
            <td><input type="password" [(ngModel)]="passcode" name="passcode"><br></td>
        </tr>
        <tr>
            <td><button class="loginButton" (click)="login()">Log in</button></td>
            <td><button class="registerButton" (click)="register()">Register</button></td>
        </tr>
</table>
<p class="errorMsg" *ngIf="errorMsg">{{errorMsg}}</p>

<div class="userDiv" *ngIf="user">
    user: {{user}}
    <button class="loginButton" (click)="logout()">Log out</button>
</div>
<app-puzzles *ngIf="user" [user]="user" [puzzleService]="puzzleService"></app-puzzles>
